.album-view(layout='column')
  md-content
      md-card.card-image.album-image
        img(src='../../assets/images/toki.jpg')
        .overlay
        .album-meta
          h1 TokiMonsta
      .content-body
        .social-action
          md-fab-speed-dial(md-open='false',md-direction='up', ng-class='artist.selectedMode')
            md-fab-trigger
              md-button.md-fab.md-warn.action-button.social-button(aria-label='social')
                md-icon(md-svg-src='../../assets/icons/social.svg')
            md-fab-actions.social-options
              md-button.md-fab.md-raised.md-mini.sub-action
                md-icon(md-svg-src='../../assets/icons/twitter.svg',aria-label='twitter')
              md-button.md-fab.md-raised.md-mini.sub-action
                md-icon(md-svg-src='../../assets/icons/instagram.svg',aria-label='instagram')
              md-button.md-fab.md-raised.md-mini.sub-action
                md-icon(md-svg-src='../../assets/icons/snapchat.svg',aria-label='snapchat')
        .stream
          h1 Albums
          .albums(layout='row' layout-wrap)
            md-card.card-image(ng-repeat='album in artist.albums', flex='30')
              img(ng-src='{{album.cover}}')
              md-card-content
                h2 {{album.title}}
