.md-toolbar-tools{
  background-color: $purple;

  .nav-icon{
    height: 150px;
    width: 150px;
    background-image: url('../../assets/icons/nav-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
