.nav-view(layout='column')
  md-content
    md-toolbar(md-scroll-shrink=true)
      .md-toolbar-tools
        md-button(class='md-icon-button',aria-label='social' )
          md-icon( md-svg-icon='../../assets/images/menu.svg')
        .nav-icon
div(ui-view)
