img{
  max-width: 100%;
  max-height: 100%;
}
.md-toolbar-tools{
  background-color: $purple;

  .nav-icon{
    height: 150px;
    width: 150px;
    background-image: url('../../assets/icons/nav-logo.svg');
    background-repeat: no-repeat;
    background-position: center;
  }
}
.album-image{
  margin: 0;
}

.art-overlay{
  background-color: rgba(0,0,0,0.41);
  position: absolute;
  height: 100%;
  width: 100%;
}

.action-button, .sub-action{
  background-color: $action-teal !important;
}

.social-button{
  position: absolute;
  top: -28px;
  right: 0;
}

.social-options{
  position: absolute;
  top: -185px;
  right: 11px;
}
