div(layout='column')
  md-content
    md-toolbar
      .md-toolbar-tools
        md-button(class='md-icon-button')
          md-icon( md-svg-icon='../../assets/icons/menu.svg')
        .nav-icon
    .album-image
      .art-overlay
      img(src='../../assets/images/tokimonsta_halfshadows.jpg')


