div(layout='column')
  md-content
    md-toolbar(md-scroll-shrink=true)
      .md-toolbar-tools
        md-button(class='md-icon-button',aria-label='social' )
          md-icon( md-svg-icon='../../assets/icons/menu.svg')
        .nav-icon
      md-card.card-image.album-image
        img(src='../../assets/images/tokimonsta_halfshadows.jpg')
        .overlay
        .album-meta
          h1 Half Shadows
          p By TokiMonsta
      .content-body
        .social-action
          md-fab-speed-dial(md-open='false',md-direction='up', ng-class='main.selectedMode')
            md-fab-trigger
              md-button.md-fab.md-warn.action-button.social-button(aria-label='social')
                md-icon(md-svg-src='../../assets/icons/social.svg')
            md-fab-actions.social-options
              md-button.md-fab.md-raised.md-mini.sub-action
                md-icon(md-svg-src='../../assets/icons/twitter.svg',aria-label='twitter')
              md-button.md-fab.md-raised.md-mini.sub-action
                md-icon(md-svg-src='../../assets/icons/instagram.svg',aria-label='instagram')
              md-button.md-fab.md-raised.md-mini.sub-action
                md-icon(md-svg-src='../../assets/icons/snapchat.svg',aria-label='snapchat')
        .stream
          h1 Stream
          md-list
            md-list-item.stream-content(md-ink-ripple, layout="row", ng-repeat='service in main.streamingServices')
              img.md-avatar(ng-src='{{service.logo}}')
              .md-list-item-text(layout="column")
                p {{service.name}}
