/**
 *  Do not remove this comments bellow. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower


html {
  font-family: 'proxima-nova', sans-serif;
}
body,html{
  height: 100%;
}

img {
  max-width: 100%;
  max-height: 100%;
}


[layout=row] {
  flex-direction: row;
}


/* Colors */
$purple: #27153D;
$action-teal: #00D39B;
$wavey-blue: #386E9C;
$line-grey: #979797;

.action-button, .sub-action{
  background-color: $action-teal !important;
}

.header-image{
  margin: 0;
  position: relative;

  .overlay{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.41);
  }

  .header-meta{
    position: absolute;
    bottom: 10px;
    padding: 10px;
    color: #FFFFFF;

    h1{
      line-height: 23px;
      text-transform: uppercase;
      margin-bottom: 10px;
    }

    p{
      margin-top: 0;
      margin-bottom: 0;
      font-size: 120%;
      color: #FFFFFF;
    }

  }
}

.social-button{
  position: absolute;
  top: -36px;
  right: 0;

}

.social-options{
  position: absolute;
  top: -193px;
  right: 11px;
}

.content-body{
  h1{
    font-weight: normal;
    padding-left: 15px;
    font-size: 150%;
    margin-bottom: 4px;
  }
}



/**
 *  Do not remove this comments bellow. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
